body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.chat-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius:10px;

}

.chat-box {
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.input-container {
    display: flex;
    padding: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #4caf50;
}

h5 {
    text-align: center;
    color: #4caf50;
}


hr {
    width: 90%;
}

.message-container {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.olaf-message {
    background-color: #f0f0f0; /* Color para mensajes de Olaf */
}

.user-message {
    background-color: #4caf50; /* Color para mensajes del usuario */
    color: #fff; /* Color del texto para mensajes del usuario */
}

.user-message-right {
    text-align: right;
}

.message-title {
    font-weight: bold;
}

.message-text {
    margin-top: 5px;
}


/* ... Otros estilos ... */

.message-container-wrapper {
    display: flex;
}

.olaf-wrapper {
    justify-content: flex-start;
}

.user-wrapper {
    justify-content: flex-end;
    text-align: right; /* Alinea el mensaje del usuario a la derecha */
}

.message-title {
    font-weight: bold;
    margin-right: 5px; /* Ajusta el espacio entre el nombre del remitente y el mensaje */
}

/* ... Otros estilos ... */
.message-image img {
    border-radius: 50%;
    width: 30px; /* TamaÃ±o deseado de la imagen circular */
    height: 30px;
    margin-top: auto; /* Alinear en la parte inferior */
    margin-right: 15px; /* Ajusta el espacio entre la imagen y el contenedor */
    margin-bottom: 5px; /* Espacio entre la imagen y el borde inferior del contenedor */
}

.cargarPDF {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    max-width: 600px;
    margin: 30px auto -10px auto;
    background-color: #aeddb0;
    height: 10vh;
    border-radius:10px;
}

.cargarPDF .btn {
    margin: 15px; /* Espaciado entre los botones */
    width: 25%;
    background-color: #4caf50;
    border-color: #4caf50;
}


.personaje{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personaje img {
    border-radius: 50%;
    height: 200px;
    width: auto;
}

.modal-content {
    width: 150%;
}

.modal-content .modal-body{
    align-items: center;
    text-align: center;
}

.modal-content .modal-body button{
    background-color: #4caf50;
    border-color: #4caf50;
}

.modal-content .modal-body input[type=number]{
    width: 80px;
    border: 1px;
}

.modal-content table {
    margin: 0px 20px;
}

/* Aqui se comienza a dar diseño al modal */

.modal-header {
    background-color: #4caf50;
    color: #fff;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.btn-primary {
    background-color: #4caf50;
    border-color: #4caf50;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dee2e6;
}

th {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
}

.modal-title {
    font-weight: bold;
}

.close {
    color: #fff;
    font-size: 30px;
}